{
  "presets": ["env", "react", "stage-1"],
  "plugins": [
    "ramda",
    "lodash",
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements"
      ]
    }
  }
}
